*{
    font-family:monospace;
    font-weight: 200;
    font-style: normal;
    padding: 0;
    margin: 0;
}
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
body{
    min-height: 100vh;
}
main{
    color: white;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
header{
    background: rgba(15, 15, 15, 0.5);
    grid-column: 2 / span 5;
    font-size: 32px;
    padding: 33px;
    margin-bottom: 350px;
    border-radius: 8px;
    transition: all ease 0.3s;
    justify-content: left;
}
header:hover{
    transform: translateY(-2px);
    cursor: pointer;
    background: rgba(15, 15, 15, 0.75);
}
@keyframes typing{
    from {width: 0}
    to {width: 100%}
}
@keyframes blink{
    from, to {border-color: transparent}
    50%{border-color: white;}
}
header p{  
    text-align: left;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 1.3s steps(21, end), blink .8s step-end infinite;
}
section{
    grid-column: 2 / 8;
    padding: 16px;
    background: rgba(15, 15, 15, 0.5);
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 100px;
    transition: all ease 0.3s;
    border-radius: 8px;
}
section:hover{
    transform: translateY(-2px);
    cursor: pointer;
    background: rgba(15, 15, 15, 0.75);
}
.left{
    grid-column: 6 / 12;
}